In [1]:
import pandas as pd
import numpy as np
from ts_fe import timeseries_processing

df = pd.DataFrame()

lags = pd.DataFrame()
df["A"] = np.random.normal(0, 1, size=100)
df["B"] = np.random.normal(0, 5, size=100)
df["C"] = np.random.normal(0, 10, size=100)

In [3]:
tsp = timeseries_processing.TimeSeriesProcessing()
new_df = tsp.lag_column(df, 5, "C")

In [4]:
new_df.head()

          A         B          C  Clagged_1  Clagged_2  Clagged_3  Clagged_4
4       NaN       NaN        NaN   5.079874  -0.219595 -14.573905   3.486721
5  0.875081 -7.217906  10.214354   8.242721   5.079874  -0.219595 -14.573905
6  0.869251  6.006200  -3.787911  10.214354   8.242721   5.079874  -0.219595
7 -0.323897  7.698661  -0.260655  -3.787911  10.214354   8.242721   5.079874
8 -0.966310 -0.854880   1.313883  -0.260655  -3.787911  10.214354   8.242721